* {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 1, 1), color 0.5s cubic-bezier(0, 0, 0.59, 0.7);
}

.dark * {
  background-color: #000000;
  color: #fff;
}

.dark {
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

ul li {
  color: rgb(0, 0, 0);
  list-style: none;
  font-size: 20px;
  width: 95%;
  overflow: auto;
}

ul li:hover {
  cursor: pointer;
}

ul {
  padding-top: 10px;
}

.com {
  text-decoration: line-through;
}

#no-todo-info {
  text-align: center;
  min-height: 100vh;
  padding-top: 50px;
}

.deletbtn {
  padding: 2px;
  border: 1px solid black;
  border-radius: 4px;
}

.dark .deletbtn {
  border: 1px solid white;
}

.deletbtn:hover {
  cursor: pointer;
}

.todo-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.dark .todo-container {
  border: 1px solid white;
}

.todo-container:hover {
  cursor: pointer;
}

.linebtn {
  width: 100px;
  padding: 0px 1px;
  border-radius: 4px;
  font-size: 17px;
  border: 1px solid black;
}

.dark .linebtn {
  border: 1px solid white;
}

ion-icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon:hover {
  cursor: pointer;
}

.linebtn:hover {
  cursor: pointer;
  background: #dbdbdb;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0px;
}

#input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 6px 10px;
  width: 60%;
  border-radius: 5px;
}

.dark #input {
  border: 1px solid white;
}

#form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#Add {
  padding: 2px;
  border-radius: 5px;
}

#darkbtn {
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
}

.dark #darkbtn {
  border: 1px solid white;
}

.dark #Add {
  border: 1px solid white;
}

#Add:hover {
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.alltodoDelet {
  position: fixed;
  bottom: 20px;
  right: 2px;
  width: 110px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0px 5px;
  cursor: pointer;
  border: 1px solid black;
}

.dark .alltodoDelet {
  border: 1px solid white;
}

@media only screen and (max-width: 767px) {
  ul li {
    font-size: 16px;
    width: auto;
    overflow: auto;
  }

  ul {
    padding-top: 0px;
  }

  #title {
    font-size: 18px;
  }

  #no-todo-info {
    font-size: 24px;
  }

  .deletbtn {
    width: 30px;
    font-size: 20px;
  }

  .todo-container {
    width: auto;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    gap: 1px;
  }

  .linebtn {
    width: 80px;
    padding: 1px 0px;
    font-size: 15px;
  }

  #input {
    font-size: 16px;
    padding: 5px;
    width: 80%;
  }

  #form {
    margin: 0;
    width: auto;
    gap: 5px;
  }

  #Add {
    width: 35px;
  }

  ion-icon {
    font-size: 25px;
  }

  .btns {
    padding: 5px 1px;
  }

  .alltodoDelet {
    bottom: 30px;
    right: 10px;
    padding: 5px 0;
  }
}